*, :before, :after, html, body {
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bg: hsl(var(--hue), 10%, 80%);
  --fg: hsl(var(--hue), 100%, 30%);
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font);
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;
  touch-action: none;
}